html, body, #map {
        height: 100%;
        margin: 0;
        padding: 0;
      }
h1 {
    font-family: sans-serif;
    color: rgba(18, 147, 206);
}

h2 {
    font-family: sans-serif;
    color: rgba(239, 150, 55);
}

h3 {
    font-family: sans-serif;
    color: rgba(18, 147, 206);
}
.floater {
  position: absolute;
  z-index: 999;
}

#titleFloat {
  top: 10px;
  left: 50px;
  background-color: rgba(255,255,255,0.9);
  padding: 8px;
  border-radius:4px;
}